.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    .banner {
        // float: left;
        // display: block;
        width: 100%;
        background-color: $blue;
        display: flex;
        justify-content: center;

        .banner-wrapper {
            padding: 0 20px;
            display: flex;
            background: $blue;
            color: $white;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
        }

        .banner-wrapper:first-of-type {
            min-width: 400px;
        }

        .banner-wrapper h1, .banner-wrapper h4 {
            // margin-left: 20px;
            padding: 10px 10px 10px 0;
        }

        .banner-wrapper h1:last-of-type {
            padding-bottom: 30px;
        }

        .banner-wrapper img{
            // position: relative;
            // right: -400px;
            // bottom: 0px;
            // top: -20px;
            // width: 481px;
            // margin: auto;

            height: 241px;   // original size of coinbase image
            margin: 40px 0;
        }
    }
}