.crypto {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // margin: 40px;

    // .chart {
    //     text-align: center;
    // }

    .crypto-header-wrapper {
            border-bottom: 1px solid rgb(236, 239, 241);


        .crypto-header {
            display: flex;
            align-items: center;
            padding: 40px 20px;
            // border-bottom: 1px solid rgb(236, 239, 241);
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            img {
                width: 46px;
            }
            div:nth-of-type(2) {
                display: flex;
                align-items: baseline;
                h1 {
                    line-height: 1.3;
                    color: rgb(5, 15, 25);
                    font-size: 32px;
                    font-weight: 500;
                    margin: 0 14px 0 24px;
                }
        
                h2 {
                    line-height: 1.3;
                    color: rgba(17, 51, 83, 0.6);
                    font-size: 26px;
                    font-weight: 500;
                }
            }
            div:last-of-type {
                margin-left:auto;
                margin-right:0;
                button {
                    display:flex;
                    align-items: center;
                    position: relative;

                    width: auto;
                    cursor: pointer;
                    font-size: 14px;
                    background-color: rgb(255, 255, 255);
                    color: rgb(5, 15, 25);
                    // margin: 0px;
                    border-radius: 4px;
                    transition: all 80ms ease-in-out 0s;
                    padding: 12px 16px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(236, 239, 241);
                    // border-image: initial;

                    i {
                        margin-right: 10px;
                        font-size: 24px;
                        color: $lightgrey;
                    }

                    h2:hover {
                        color: $blue;
                    }

                    &:hover {
                        border-color: $blue;
                    }
                }
                .following i {
                    color: $gold;
                }
            }
        }
    }

    .crypto-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // padding: 0 40px;
        margin: 40px auto;
        width: 100%;
        max-width: 1200px;
        padding: 0 20px;
        .crypto-detail {
            display: flex;
            flex-direction: column;
            min-height: 310px;
            margin-bottom: 24px;
            box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
            flex: 0 0 auto;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(236, 239, 241);
            border-image: initial;
            background: rgb(255, 255, 255);
            overflow: visible;
            border-radius: 6px;

            margin: 40px 0;

            margin-right: 40px;

            box-shadow: 3px 3px 10px darkgrey;

            .chart-header {
                display: flex;
                // -webkit-box-pack: justify;
                // justify-content: space-between;
                // align-items: flex-start;
                // flex-direction: row;
                // height: auto;
                padding: 24px 32px 16px;
                height: 96px;

                div:nth-of-type(1) {
                    margin-left: 16px;
                    font-size: 48px;
                    font-weight: 400;
                    color: rgb(5, 15, 25);
                }

                div:nth-of-type(2) {
                    padding-top: 6px;
                    margin-left: 16px;
                    font-size: 24px;

                    h4 {
                        line-height: 1.3;
                        // color: rgb(5, 177, 105);
                        // color: rgb(223, 95, 103);
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .chart-24hour-pos {
                        color: rgb(5, 177, 105);
                    }
                    .chart-24hour-neg {
                        color: rgb(223, 95, 103);
                    }
                }
            }

            .chart-axis {
                padding: 10px 32px;
                // background: rgb(255, 255, 255);
                border-top: 1px solid rgb(236, 239, 241);
                border-bottom: 1px solid rgb(236, 239, 241);
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                flex-direction: row;
                flex: 1 1 auto;

                span {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: rgba(17, 51, 83, 0.3);
                    transition: color 200ms ease-in-out 0s;
                }
            }

            .crypto-info {
                // display: flex;
                // flex-direction: column;
                // max-width: 200px;
                // width: 25%;
                // padding-left: 12px;
                // margin: 14px 0px;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 18px 32px;
                border-radius: 4px;
                margin: 0px -12px;
                div {
                    display: flex;
                    flex-direction: column;
                    max-width: 200px;
                    width: 25%;
                    padding-left: 12px;
                    margin: 14px 0px;
                    h6 {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.6;
                        color: rgba(17, 51, 83, 0.6);
                        transition: color 80ms ease-in-out 0s;
                        margin-bottom: 6px;
                    }
                    span {
                        line-height: 1.3;
                        color: rgb(5, 15, 25);
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }



        section{ //about info
            display: flex;
            flex-direction: column;
            min-height: 310px;
            margin-bottom: 24px;
            box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
            flex: 0 0 auto;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(236, 239, 241);
            border-image: initial;
            background: rgb(255, 255, 255);
            overflow: visible;
            border-radius: 6px;

            padding: 32px;
            // max-width: 386px;
            max-width: 320px;
            margin: 40px 0;

            box-shadow: 3px 3px 10px darkgrey;

            h2 {
                line-height: 1.3;
                color: rgb(5, 15, 25);
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 32px;
            }

            p {
                font-size: 14px;
                line-height: 1.6;
                font-weight: 400;
                color: rgba(17, 51, 83, 0.6);
            }
        }

        .recharts-wrapper {
            // border: $grey-border;
        }
    }

}