footer {
    display: flex;
    align-items: center;
    height: 64px;
    max-height: 64px;
    border-top: 1px solid rgb(236, 239, 241);
    background: $white;
}

footer a {
    margin-left: 20px;
    text-align: center;
}