footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    // max-height: 64px;
    // border-top: 1px solid rgb(236, 239, 241);
    background: $blue;
    margin-top: 40px;

    a {
        margin-left: 50px;
        color: $white;
        i {
            font-size: 48px;
            // color: $white;
        }
    }
}

// footer a {
    // margin-left: 50px;
    // text-align: center;
// }