.login-splash {
    // background: $blue;
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    max-width: 480 px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .login-label {
//     margin: 0 auto;
// }