.widget-trade {
    transition: z-index 0ms ease-out 1000ms;

    // padding: 20px;
    margin: 40px;
    font-size: 24px;
    font-weight: 500;
    height: min-content;
    border: 1px solid #eceff1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-self: stretch;
    // max-width: 575px;
    min-width: 370px;
    max-width: 370px;
    min-height: 496px;
    // margin-bottom: 24px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    background-color: white;
    border-radius: 4px;
    // border-image: initial;
    // box-sizing: inherit;
    flex: 1 1 auto;
    // margin: 40px;
    // color: #1652f0;
    color: $blue;

    .trade-top {
        display: flex;
        position: relative;
        width: 100%;
        min-height: 64px;
        align-items: center;
        // justify-content: space-around;
        // margin-bottom: 24px;

        div {
            width: 100%;
            text-align: center;
            line-height: 64px;
            border-bottom: 1px solid rgb(236, 239, 241);
            color: rgba(17, 51, 83, 0.6);
            font-size: 18px;
            font-weight: 600;
        }
        div:hover {
            cursor: pointer;
        }

        div:nth-of-type(1) {
            border-right: 1px solid rgb(236, 239, 241);
        }
        div:nth-of-type(2) {
            border-right: 1px solid rgb(236, 239, 241);
        }

        .active {
            border-bottom: none;
            color: $blue;
        }
    }

    .trade-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 0px;
        padding-top: 48px;
        flex: 1 0 0%;

        input {
            // font-size: 32px;
            // font-weight: 600;
            // color: $blue;
            // font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 62px;
            text-align: center;
            color: rgb(22, 82, 240);
            font-weight: 400;
            min-height: 73px;
            max-height: 73px;
            // max-width: 440px;
            // width: min-content;
            width: 250px;
            box-shadow: none;
            // padding: 0px;  this causes the input box to disappear for some reason?
            // margin: 0px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            overflow: hidden;
            outline: none;
            background: rgb(255, 255, 255);
        }

        .trade-crypto-selector {
            display: flex;
            cursor: pointer;
            -webkit-box-pack: justify;
            // justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            flex-direction: row;
            padding: 16px;
            min-width: 320px;
            max-height: 56px;

            margin-bottom: 16px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(236, 239, 241);
            border-image: initial;
            border-radius: 4px;

            margin-top: 60px;

            p {
                font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                font-size: 14px;
                line-height: 1.6;
                font-weight: 400;
                color: rgba(17, 51, 83, 0.6);
                text-overflow: ellipsis;
                white-space: nowrap;
                // overflow: hidden;
                // padding: 0px;
                // margin: 0px;

                margin-right: 60px;
            }
            
            div {
                display: flex;
                max-height: 24px;

                img {
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                }

                p {
                    // font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                    font-size: 14px;
                    line-height: 1.6;
                    font-weight: 400;
                    color: rgb(5, 15, 25);
                    padding: 0px;
                    margin: 0px 0px 0px 8px;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    // overflow: hidden;
                }
            }
        }

        button {
            padding: 24px;
            border-radius: 4px;
            // margin-top: 24px;
            text-align: center;
            background: $blue;
            color: $white;
            font-size: 16px;
            font-weight: 500;
            width: 100%;
        }   
        button:hover {
            cursor: pointer;
        }
    }
        
        // .trade-bottom {
        // margin-top: 24px;
        // display: flex;
        // flex-direction: column; 
    // }
}

.widget-select {
    // display: flex;
    // flex-direction: column;
    // -webkit-box-pack: start;
    // justify-content: flex-start;
    overflow-y: scroll;
    max-height: 494px;
    // flex: 1 1 0%;

    transition: z-index 0ms ease-out 1000ms;

    margin: 40px;
    font-size: 24px;
    font-weight: 500;
    height: min-content;
    border: 1px solid #eceff1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 370px;
    max-width: 370px;
    min-height: 496px;
    box-shadow: rgba(17, 51, 83, 0.02) 0px 4px 12px 0px;
    background-color: white;
    border-radius: 4px;
    flex: 1 1 auto;
    color: $blue;

    .select-top {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        min-height: 64px;
        padding-top: 2px;
        
        div {
            display: flex;
            cursor: pointer;
            -webkit-box-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
            flex-direction: row;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 60px;
            padding-left: 24px;

            svg {
                height: 18px;
                width: 18px;
                path {
                    fill: rgb(130, 148, 175)
                }
            }
        }

        span {
            text-align: center;
            pointer-events: none;
            width: 75%;

            display: inline-block;
            font-weight: 600;
            line-height: 1.5;
            font-size: 18px;
            color: rgb(5, 15, 25);
            word-break: break-word;
        }
    }

    .select-bottom {
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0px 12px;
        flex: 1 1 0%;

        div {
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
            flex-direction: row;
            position: relative;
            user-select: none;
            // min-height: 80px;
            height: 80px;
            color: rgb(22, 82, 240);
            // background-color: rgba(17, 51, 83, 0.02);
            cursor: default;
            border-radius: 4px;
            padding: 12px;
            // transition: background-color 0.25s ease 0s;

            img {
                width: 32px;
                height: 32px;
                min-width: 32px;
            }

            div {
                display: flex;
                -webkit-box-pack: start;
                justify-content: flex-start;
                flex-direction: column;
                margin: 0px 12px;
                overflow: hidden;
                align-items: flex-start;

                h4 {
                    line-height: 1.3;
                    // color: rgb(22, 82, 240);
                    color: rgb(5, 15, 25);
                    font-size: 18px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    margin: 0px;
                }

                p {
                    font-size: 14px;
                    line-height: 1.6;
                    font-weight: 400;
                    color: rgba(17, 51, 83, 0.6);
                    display: block;
                    margin: 0px;
                }
            }
        }

        div:hover {
            background-color: rgba(17, 51, 83, 0.02);
            cursor: pointer;
        }

    }
}